<div class="link-container">
    <mat-card class="link-card" *ngFor="let link of links | async">
            <mat-card-content><a class="link" href="{{link.url}}">{{link.title}}</a>
              <button mat-icon-button class="linkButton pull-right"  (click)="deleteLink(currentBlockId,link.id, link.title)"><mat-icon class="linkIcon">delete</mat-icon></button>
              <button mat-icon-button class="linkButton pull-right"  (click)="editLink(currentBlockId, link)"><mat-icon class="linkIcon">edit</mat-icon></button>        
            </mat-card-content>
    </mat-card>
    </div>
