<div class="link-container">
    <mat-card class="link-card" *ngFor="let link of links | async">
            <mat-card-content><a class="link" href="{{link.url}}">{{link.title}}</a>
              <button mat-icon-button class="linkIcon pull-right"  (click)="deleteLink(l)"><mat-icon>delete</mat-icon></button>
              <button mat-icon-button class="linkIcon pull-right"  (click)="editLink(l)"><mat-icon>edit</mat-icon></button>        
            </mat-card-content>
    </mat-card>
    </div>
