.link-card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: rgb(92, 164, 189);
    margin: 10px;
    width:80%;
}
.link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.link {
    color: black;
}