<h2>Edit Link</h2>
  <form [formGroup]="myForm"  (ngSubmit)="editLink(myForm.value)">
    <div class="form-container">
      <label>Title
        <input type="text" formControlName="title" id="title">
      </label>
      <label>URL
        <input type="text" formControlName="url" id="url">
      </label>
      <div class="container">
       <button type="button" color="warn" mat-raised-button mat-dialog-close="Cancel">Cancel</button>
        <button type="submit" color="primary" mat-raised-button  [disabled]="!myForm.valid">Save</button>
        </div>
    </div>
  </form>