This is home but should it be?
<div class="block-container">
<mat-card class="block-card" *ngFor="let block of blocks | async">
<script>console.log(block)</script>
  <mat-card-header>
    <mat-card-title>
    <strong>{{block.description}}</strong>
  </mat-card-title>
  <button mat-mini-fab color="none" class="plusButton pull-right" (click)="OpenDialog(b.id)"><i class="material-icons">add</i></button>

  </mat-card-header>
  <mat-card-content>
    <app-link [currentBlockId]="block.id"></app-link>
  </mat-card-content>
</mat-card>
</div>
